---
layout: default
title: Le Mango Tree
thumbnail: images/carousel/en_deux_mots_1.jpg
---

<div class="container">
  <section id="brunch-cta">
    <h2>Le brunch du Mango Tree</h2>
    {% include svg/separator.html %}
    <p>D'avril à octbre, tous les dimanches, de 10h30 à 14h, nous préparons sous vos yeux un magnifique plateau très complet, gourmand et fruité. Réservez vite votre brunch healthy et coloré au Mango Tree !</p>
    <a class="button-resa" href="{{ site.github.url }}/reservation">Je réserve</a>
  </section>

  <section id="intro">
    <h2>Un petit goût de paradis</h2>
    <!-- SVG Divider -->
    {% include svg/separator.html %}
    <p>Le Mango Tree est le premier bar à jus et smoothies bowls 100 % naturels d'Hossegor. L'idée est simple : la nourriture doit être bonne pour nous, pour notre corps et notre esprit, respectueuse de notre planète et surtout absolument savoureuse ! Se nourrir sainement et avec plaisir contribue au bonheur !</p>
    <img class="image-intro" src="{{ site.github.url }}/images/carousel/en_deux_mots_1.jpg" alt="">
  </section>

  <section id="sisters">
    <div class="sisters-presentation">
      <h2>En deux mots</h2>
      <!-- Content Divider -->
      <div class="sisters-content">
        <div class="content-block">
          <h3>Des voyages</h3>
          <p>Le Mango Tree est le résultat de nombreux voyages et de multiples passions ! La passion des bons produits et des choses saines, l'amour des produits de la terre, des cerises cueillies sur l'arbre, de la menthe ramassée dans le jardin, des fruits tellement bio qu'on en mange la peau !</p>
        </div>
        <img class="image-intro" src="{{ site.github.url }}/images/carousel/en_deux_mots_2.jpg" alt="">
        <div class="content-block">
          <h3>Deux soeurs</h3>
          <p>Le Mango Tree c'est aussi notre histoire, celle de deux sœurs inséparables et volontaires, originaires des Landes, qui proposent une cuisine fraiche, différente, savoureuse et exclusivement biologique, servie dans un cadre magnifique. Une touche de nomadisme, un zeste d'excentricité, une dose d'exotisme, un souffle naturel d'air frais</p>
        </div>
        <img class="image-intro" src="{{ site.github.url }}/images/carousel/en_deux_mots_3.jpg" alt="">
      </div>
    </div>
    <div class="sisters-carousel">
      <div class="carousel">
        <div><img src="{{ site.github.url }}/images/carousel/en_deux_mots_1.jpg" alt=""></div>
        <div><img src="{{ site.github.url }}/images/carousel/en_deux_mots_2.jpg" alt=""></div>
        <div><img src="{{ site.github.url }}/images/carousel/en_deux_mots_3.jpg" alt=""></div>
      </div>
    </div>
  </section>

  <section id="products">
    <div class="block-1">
      <div class="image image-1"></div>
      <div class="image image-2"></div>
    </div>

    <div class="block-2">
      <div class="image-3"></div>

      <div class="block-3">
        <div class="prestations-content">
          <h2>Nos créations</h2>
          <p>Sur notre belle terrasse face au lac ou à emporter, nous proposons des petits déjeuners fruités, des brunchs végétariens, un large choix jus de fruits et de légumes pressés sur l'instant, des smoothies maison 100 % naturels, gourmands et sains, des bols végétariens et des tartines à midi ! Mais aussi un joli choix de cafés, thés, infusions biologiques, boissons fraîches maison, smoothies bowls, granola et desserts entièrement faits maison !</p>
        </div>
        <div class="image-4"></div>
      </div>
    </div>
  </section>

  <section id="menu">
    <h2>Retrouvez l'intégralité de notre carte</h2>
    <!-- SVG Divider -->
    {% include svg/separator.html %}
    <div class="illustrations">
      {% include svg/watermelons.html %}
      {% include svg/mixer.html %}
      {% include svg/bowl.html %}
    </div>
  </section>

  <section id="origins">
    <div class="block-2">
      <div class="block-3">
        <div class="prestations-content">
          <h2>Healthy spots</h2>
          <p>Nous travaillons autant que possible avec des produits frais locaux, des ingrédients biologiques et de saison. Nous cultivons nos propres herbes, fleurs comestibles et légumes dans notre superbe jardin potager ! Notre pain est bio, cuit quotidiennement au feu de bois et au levain naturel. Tout est entièrement naturel et fait maison, avec un maximum de goût et un minimum de sucre !</p>
        </div>
        <div class="image-4"></div>
      </div>
      <div class="image-3"></div>
    </div>

    <div class="block-1">
      <div class="image image-1"></div>
      <div class="image image-2"></div>
    </div>
  </section>

  <section id="events">
    <div class="block-1">
      <div class="image image-1"></div>
      <div class="what-we-do">
        <h2>Préstations événementielles</h2>
        <!-- SVG Divider -->
        {% include svg/separator.html %}
        <p>Installé dans une caravane vintage aux couleurs acidulées, Le Mango Tree « Events » se déplace sur vos événements !</p>
        <p>Vous recherchez quelque chose de différent et pétillant pour votre soirée d'anniversaire, brunch et lendemain de mariage, cocktail d'entreprise, soirée de lancement et vernissage, fête privée ? Nous vous proposons une prestation sur mesure.</p>
      </div>
      <div class="image image-2"></div>
    </div>
    <div class="block-2">
      <div class="image image-3"></div>
      <div class="image image-4"></div>
    </div>
  </section>

  {% include reach-us.html %}

</div>
