---
layout: static_page
title: Le menu
thumbnail: images/creations/nos_creations_3.jpg
---

<div class="current-menu">
  <section id="formules">
    <div class="formule">
      <h2>Lunch</h2>
      {% include svg/separator.html %}
      <p>Du lundi au samedi<br>Nous élaborons quotidiennement nos assiettes en fonction des légumes du moment. Surprises assurées !</p>
      <i>À partir de 12€</i>
    </div>

    <ul class="formule-items">
      <li><strong>Rainbow Buddha Bowl</strong><br>Salade super complète servie dans un bol & fleurs de saison<br><i>12€</i></li>
      <li><strong>Les tartines du Mango Tree</strong><br>Deux belles tartines servies avec une jolie salade fleurie et un jus de fruits frais<br><i>12€</i></li>
    </ul>

    <div class="formule">
      <h2>Brunch</h2>
      {% include svg/separator.html %}
      <p>Tous les dimanches<br>Sur réservation uniquement !</p>
      <i>22€</i>
    </div>
  </section>

  </section>
  <section id="juicies">
    <h2>Jus de fruits et légumes frais</h2>
    <span>Pressés sur l’instant, avec des produits bio et parfois même de notre potager !</span>
    <!-- SVG Divider -->
    {% include svg/separator.html %}
    <!-- Juicies - Cat #1 -->
    <i>3€50 / 4€50 / 5€80</i>
    <ul>
      <li><strong>Oranges pressées bio</strong>  ou <strong>Jus de pommes bio</strong></li>
    </ul>
    <!-- Juicies - Cat #2 -->
    <i>4€ / 5€ / 6€50</i>
    <ul>
      <li><strong>May Flower</strong><br>Ananas, Pomme, Orange, Menthe Fraîche</li>
      <li><strong>Hippie Juice</strong><br>Carrote, Orange, Gingembre</li>
      <li><strong>Zest'y Smile</strong><br>Carotte, Pomme, Ananas, Gingembre</li>
      <li><strong>Sauvage</strong><br>Pomme, Carotte, Betterave, Citron, Gingembre</li>
      <li><strong>Carpe Diem</strong><br>Poire, Betterave, Orange, Gingembre</li>
      <li><strong>Charlemagne</strong><br>Concombre, Pomme, Citron, Menthe</li>
    </ul>
    <!-- Juicies - Cat #3 -->
    <i>4€50 / 5€50 / 7€</i>
    <ul>
      <li><strong>Green Detox</strong><br>Fenouil, Pomme, Epinard, Ananas, Citron</li>
      <li><strong>Wild Garden</strong><br>Roquette, Kale, Pomme, Concombre, Épinard, Citron, Gingembre, Spiruline</li>
    </ul>
  </section>

  <section id="smoothies">
    <h2>Smoothies 100% naturels</h2>
    <span>Des fruits frais mixés, seulement des fruits pour un maximum de fraicheur et de bonheur !</span>
    <!-- SVG Divider -->
    {% include svg/separator.html %}
    <!-- Smoothies - Cat #1 -->
    <i>4€20 / 5€50 / 7€</i>
    <ul>
      <li><strong>Fraîcheur</strong><br>Fruits rouges, Fraise, Framboise, Banane</li>
      <li><strong>Banana Swing</strong><br>Poire, Banane, Kiwi, Gingembre
      <li><strong>Buddha Rose</strong><br>Mangue, Framboise, Orange pressée</li>
      <li><strong>Mangotine</strong><br>Mangue, Ananas, Pomme, Orange, Gingembre</li>
      <li><strong>Réveil Vitaminé</strong><br>Banane, Poire, Kiwi, Gingembre</li>
      <li><strong>Pura Vida</strong><br>Banane, Ananas, Mangue, Orange pressée</li>
    </ul>
    <!-- Smoothies - Cat #2 -->
    <i>4€50 / 6€ / 7€50</i>
    <ul>
      <li><strong>Tropical green</strong><br>Mangue, Ananas, Avocat, Épinard, Banane, Jus de Pomme</li>
      <li><strong>Green Twist</strong>Roquette, Kale, Berries, Ananas, Gingembre, Jus de Pomme, Spiruline</li>
      <li><strong>Brazil </strong><br>Açaï, Guarana, Framboise, Banane, Orange</li>
    </ul>
  </section>

  <section id="smoothies-bowls">
    <h2>Smoothie Bowls</h2>
    <span>Choisis ta base de smoothie bowl. On y ajoute du granola maison aux amandes, des baies, graines toastées, beaucoup d’amour et de fruits frais.</span>
    <!-- SVG Divider -->
    {% include svg/separator.html %}
    <!-- Smoothies - Cat #1 -->
    <ul>
      <li><strong>Rady Baby</strong><br>Fruits rouges, Fraise, Framboise, Banane</li>
      <li><strong>Gogo Mango</strong><br>Banane, Ananas, Mangue, Eau de Coco</li>
      <li><strong>Açaï Bowl</strong><br>Açaï bio, Banae, Guarana</li>
      <li><strong>Starlight</strong><br>Epinard, Kale, Banane, Mangue, Ananas, Jus de Pomme, Gingembre</li>
    </ul>
    <i class="extra">Extra Topping<br>Granola maison 1€ / fruits 1€ / graines de chia 0€50 / pépites de chocolat 0€50 / chair de coco 0€50 / spiruline 0€50 / mélange de graines toastées 0€50</i>
  </section>

  <section id="snacks">
    <h2>Breakfast | Dessert | Tea time</h2>
    <span>Tout est fait maison à partir de produits frais et bio</span>
    <!-- SVG Divider -->
    {% include svg/separator.html %}
    <div class="divided">
      <ul>
        <li><strong>Tartines et confiture</strong><br>Une sélection de pains bio cuits au feu de bois, confiture maison et beurre demi-sel<br><i>4€50</i></li>
        <li><strong>Granola parfait maison</strong><br>Fromage blanc, miel et muesli maison aux amandes<br><i>5€</i><br>+ Extra fruits tropicaux et de saison <i>(+1€50)</i></li>
        <li><strong>Bircher Muesli</strong><br>Flocon d'avoine, Jus de Pomme et Raisins, Coulis de Fruits rouge maison et zestes de Pommes Vertes<br><i>5€</i></li>
        <li><strong>Chia Pudding</strong><br>Graines de Chia, Lait de Coco, Mangue et Fruits Frais<br><i>5€50</i><br>+ Extra Granola <i>(+1€)</i></li>
      </ul>
      <ul>
        <li><strong>Pineapple House</strong><br>Magnifique plateau de fruits frais tropicaux, graines toastées, amandes et baies !<br><i>6€</i><br>+ Extra Granola Maison <i>(+1€)</i><br>+ Extra Yaourd Grec <i>(+1€50)</i></li>
        <li><strong>Avocado toast</strong><br>Sur du pain bio cuit au feu de bois, avocat, grenade, huile d’olive, citron et graines de pavot<br><i>4€</i></li>
        <li><strong>Pancakes</strong><br>Trois belles pancakes, fruits frais et sirop d'érable<br><i>5€50</i></li>
        <li><strong>Pâtisseries Maison Bio</strong><br>Options raw, Vegan & Gluten free ! Toujours délicieuses<br></li>
    </ul>
  </section>
  <section id="drinks">
    <h2>Drinks</h2>
    <!-- SVG Divider -->
    {% include svg/separator.html %}
    <div class="divided">
      <ul>
        <li><strong>Eau de coco</strong><br>100% naturelle<br><i>3€50</i></li>
        <li><strong>Thé glacé Bio</strong><br>« Drink tea and change the world »<br><i>3€50</i></li>
        <li><strong>Sirop Bio</strong><br>Menthe Fraîche, Fruits Rouges<br><i>2€</i></li>
      </ul>
      <ul>
        <li><strong>Citronnade maison</strong><br>Au Citrons Bio<br><i>3€50</i></li>
        <li><strong>Eau </strong><br>Minérale / Gazeuse (San Pellegrino)<br><i>1€50 / 3€</i></li>
      </ul>
    </div>
    <h2>Café & thé</h2>
    <!-- SVG Divider -->
    {% include svg/separator.html %}
    <div class="divided">
      <ul>
        <li><strong>Expresso</strong><br><i>1€40</i></li>
        <li><strong>Café allongé</strong><br><i>1€40</i></li>
        <li><strong>Double Expresso</strong><br><i>2€80</i></li>
        <li><strong>Café noisette</strong><br><i>1€50</i></li>
        <li><strong>Café glacé</strong><br><i>3€50</i></li>
      </ul>
      <ul>
        <li><strong>Chaï latte glacé</strong><br><i>3€80</i></li>
        <li><strong>Thé Bio</strong><br><i>3€50</i></li>
        <li><strong>Citron Chaud</strong><br>& Gingembre<br><i>3€50</i></li>
      </ul>
    </div>
  </section>
</div>

{% include reach-us.html %}