<nav role="navigation" class="nav">
  <ul class="nav-desktop">
    <li><a data-scroll href="#intro">Qui sommes-nous ?</a></li>
    <li><a data-scroll href="#products">Nos créations</a></li>
    <li><a data-scroll href="#origins">Healthy spots</a></li>
    <li class="nav-logo"><a data-scroll href="#header"><img src="{{ site.github.url }}/images/logo-mangotree-tree.png" alt=""></a></li>
    <li><a data-scroll href="#events">Événementiel</a></li>
    <li><a data-scroll href="#contact">Contact</a></li>
    <li><a class="button-resa" href="{{ site.github.url }}/reservation">Réservez votre brunch</a></li>
  </ul>

  <div class="nav-mobile">
    <a class="nav-logo" href="{{ site.github.url }}/"><img src="{{ site.github.url }}/images/logo-mangotree-tree.png" alt=""></a>
    <div class="menu-icon">{% include svg/icon_menu.html %}</div>
    <ul id="menu-mobile" class="menu-hidden">
      <li><a data-scroll href="#intro">Qui sommes-nous ?</a></li>
      <li><a data-scroll href="#products">Nos créations</a></li>
      <li><a data-scroll href="#origins">Healthy spots</a></li>
      <li><a data-scroll href="#events">Événementiel</a></li>
      <li><a data-scroll href="#contact">Contact</a></li>
      <li><a class="button-resa" href="{{ site.github.url }}/reservation">Réservez votre brunch</a></li>
    </ul>
  </div>
</nav>
