header {
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  padding-top: 145px;
  width: 100%;
  height: 620px;

  #item {
    stroke: #fff;
  }

  &:after {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }

  .container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #fff;
    border-radius: 50%;
    height: 220px;
    width: 220px;
    transition: all 0.3s ease-in-out;
    @media (max-width: 550px) {
      height: 160px;
      width: 160px;
    }

    img {
      height: 200px;
      @media (max-width: 550px) {
        height: 140px;
      }
    }
  }

  .container-logo.scrolled {
    opacity: 0;
  }

  .header-content {
    position: relative;
    z-index: 1;
    padding-top: 30px;
    text-align: center;
    @media (max-width: 550px) {
      padding: 30px 20px 0;
    }

    h1 {
      font-size: 1.9rem;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
      color: #fff;

      small {
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
      }
    }
  }
}