.thanks-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 30px);
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}
