<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <nav role="navigation" class="nav">
      <ul class="nav-desktop">
        <li><a href="{{ site.github.url }}/#">Accueil</a></li>
        <li><a href="{{ site.github.url }}/#intro">Qui sommes-nous ?</a></li>
        <li><a href="{{ site.github.url }}/#products">Nos créations</a></li>

        <li class="nav-logo"><a href="{{ site.github.url }}/"><img src="{{ site.github.url }}/images/logo-mangotree-tree.png" alt=""></a></li>
        <li><a href="{{ site.github.url }}/#origins">Healthy spot</a></li>
        <li><a href="{{ site.github.url }}/#events">Événementiel</a></li>
        <li><a href="{{ site.github.url }}/#contact">Contact</a></li>
      </ul>

      <div class="nav-mobile">
        <a class="nav-logo" href="/"><img src="{{ site.github.url }}/images/logo-mangotree-tree.png" alt=""></a>
        <div class="menu-icon">{% include svg/icon_menu.html %}</div>
        <ul id="menu-mobile" class="menu-hidden">
          <li><a href="{{ site.github.url }}/#">Accueil</a></li>
          <li><a href="{{ site.github.url }}/#intro">Qui sommes-nous ?</a></li>
          <li><a href="{{ site.github.url }}/#products">Nos créations</a></li>
          <li><a href="{{ site.github.url }}/menu">Le menu</a></li>
          <li><a href="{{ site.github.url }}/#origins">Healthy spot</a></li>
          <li><a href="{{ site.github.url }}/#events">Événementiel</a></li>
          <li><a href="{{ site.github.url }}/#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <div id="menu-overlay" class="overlay-mobile-menu hidden"></div>
    <div>
      <div>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    {% include js.html %}

  </body>

</html>